:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

ag-grid-angular {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.tool,
.grid,
.appt-form,
.user-form {
  display: flex;
}

.grid {
  flex: auto;
}

.tool,
.grid {
  flex-direction: column;
}
