<div class="tool">
  <h2>操作列</h2>
  <div class="appt-form">
    <form nz-form [formGroup]="apptFrom">
      <nz-form-item>
        <nz-form-control>
          <nz-date-picker
            formControlName="apptTime"
            nzPlaceHolder="開放時段"
            [nzShowTime]="{ nzFormat: 'HH' }"
            nzFormat="MM/dd HH"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="onAddApptTime()"> Add </button>
      </nz-form-item>
    </form>
  </div>
  <div class="user-form">
    <form nz-form [formGroup]="userForm">
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="Line 名稱"
            formControlName="userName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="可以時段"
            [nzOptions]="timeOptions"
            formControlName="userTime" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="onAddUser()">Add</button>
      </nz-form-item>
    </form>
  </div>
  <div>
    <h2>未配對使用者</h2>
    @for (unMatchUser of unMatchUsers; track $index) {
      {{ unMatchUser }}
    }
  </div>
</div>
<div class="grid">
  <h2>優化時段對應</h2>
  <ag-grid-angular
  #agGrid
  class="ag-theme-alpine"
  [gridOptions]="gridOptions"
  [rowData]="rowData" />
</div>
<div class="grid">
  <h2>優化後時段對應</h2>
  <ag-grid-angular
  #agGrid
  class="ag-theme-alpine"
  [gridOptions]="gridOptions"
  [rowData]="rowData2" />
</div>
